---
layout: layouts/base.njk

permalink: /
---

<head>
   <title>scribo</title>
   <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<link rel="icon" type="image/png" href="/images/favicon-32x32.png">
   <link rel="stylesheet" href="/css/style.css">
   <style>a:link{
  color: rgba(0, 0, 0);}
</style>
</head>

<body>
   <main><h1>
      <span>Scribo</span>—<span>I   Write</span></h1>
   <p>Hello, welcome to Scribo where I write about programming, life, and imaginary worlds. You'll find interesting tidbits, Christopher Stevers' opinions, and some ugly first posts.</p>
   <img src="images\HeroKnight.webp" alt="Knight pointing to list"></main><aside>
         {%set postlist=collections.posts%}
         {% include "postList.njk"%}
   </aside>
</body>