




<ul>
    {%for post in postlist%}
        <li>
            <strong><a href="{{post.url | url}}">{{post.data.title}}</a></strong>
            <time dateTime="{{post.date}}">{{post.date}}</time>
            <span>{{post.data.description}}</span>

        </li>

        {%endfor%}
    </ul>