---
layout: layouts/base.njk
---

<h2>{{title}}</h2>
<h3 class="date">{{date}}</h3>
<img src={{featuredImage}}>
<p>{{content|safe}}</p>
<script>let newDate=`{{date}}.slice(0, 16);`
    document.querySelector(".date").innerText=newDate;
</script>